# Proprietário inicial do repositório.
* @MatheusSilvaRibeiro

# Áreas com responsabilidade específica podem ser adicionadas abaixo.
# /backend/ @backend-team
# /frontend/ @frontend-team
# /docs/ @documentation-team
