POSTGRES_DB=tecpel
POSTGRES_USER=tecpel
POSTGRES_PASSWORD=tecpel
POSTGRES_PORT=5432
DATABASE_URL=postgresql://tecpel:tecpel@postgres:5432/tecpel?schema=public
BACKEND_PORT=3333
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3333
